<div class="inner">
  <h1 class="page-heading">写真一覧</h1>
  <div class="card__wrapper">
    <div class="card">
      <img src="./images/image.png" alt="" class="card__img" />
      <div class="card__body">
        <h2 class="card__title">タイトル</h2>
        <p class="card__summary">
          コメントが入ります。
        </p>
      </div>
    </div>
    <div class="card">
      <img src="./images/image.png" alt="" class="card__img" />
      <div class="card__body">
        <h2 class="card__title">タイトル</h2>
        <p class="card__summary">
          コメントが入ります。
        </p>
      </div>
    </div>
    <div class="card">
      <img src="./images/image.png" alt="" class="card__img" />
      <div class="card__body">
        <h2 class="card__title">タイトル</h2>
        <p class="card__summary">
          コメントが入ります。
        </p>
      </div>
    </div>
    <div class="card">
      <img src="./images/image.png" alt="" class="card__img" />
      <div class="card__body">
        <h2 class="card__title">タイトル</h2>
        <p class="card__summary">
          コメントが入ります。
        </p>
      </div>
    </div>
    <div class="card">
      <img src="./images/image.png" alt="" class="card__img" />
      <div class="card__body">
        <h2 class="card__title">タイトル</h2>
        <p class="card__summary">
          コメントが入ります。
        </p>
      </div>
    </div>
    <div class="card">
      <img src="./images/image.png" alt="" class="card__img" />
      <div class="card__body">
        <h2 class="card__title">タイトル</h2>
        <p class="card__summary">
          コメントが入ります。
        </p>
      </div>
    </div>
  </div>
</div>