<div class="main-card">
  <div class="card__top">
    <h2 class="page-heading">写真一覧</h2>
    <div class="card__wrapper">
      <div class="card">
        <%= image_tag @card.image.variant(resize: '120x120'), class: 'card-image' if @card.image.attached? %>
        <div class="card__body">
          <h2 class="card__title">タイトル</h2>
          <p class="card__summary">
            コメントが入ります。
          </p>
        </div>
      </div>
      <div class="card">
        <%= image_tag card.image.variant(resize: '120x120'), class: 'card-image' if @card.image.attached? %>
        <div class="card__body">
          <h2 class="card__title">タイトル</h2>
          <p class="card__summary">
            コメントが入ります。
          </p>
        </div>
      </div>
      <div class="card">
        <%= image_tag card.image.variant(resize: '120x120'), class: 'card-image' if @card.image.attached? %>
        <div class="card__body">
          <h2 class="card__title">タイトル</h2>
          <p class="card__summary">
            コメントが入ります。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>