<div class="side-bar-header">
  <div class="inner">PukurinApp</div>
</div>
<div class="rooms">
  <div class="room">
    <div class="header-name">
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
  </div>
</div>