
.wrapper {
  display: flex;
}
.side-bar {
  background-color: darkgreen;
  width: 300px;
  height: 100vh;
}
.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  color: #FFF;
  font-size: 25px;
  text-align: center;
  float: left;
}
.rooms {
  background-color: darkgreen;
  height: calc(100vh - 100px);
  padding: 0 20px;
}
.room {
  padding: 20px 0 40px;
}
.header-name a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.main-card {
  background-color: #FFF;
  height: calc(100vh - 100px);
  width: calc(100vw - 300px);
  margin-left: 40px;
}
.card-header {
  background-color: #FFF;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
}
.header-button {
  margin-top: 40px;
}
.header-button a {
  text-decoration: none;
  border: 1px solid darkgreen;
  color: darkgreen;
  padding: 20px;
}
.page-heading {
  color: darkgreen;
  font-size: 30px;
  margin-bottom: 30px;
}
form input,
form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid darkgreen;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}
form input[type="submit"] {
  width: 50%;
  background-color: darkgreen;
  margin: 0 auto;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}
form input[type="submit"]:hover {
  background-color: darkgreen;
}
.form {
  background-color: #DDDDDD;
  height: 100px;
  padding: 20px 40px;
  display: flex;
}
.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}
.form-submit {
  background-color: darkgreen;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}
img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}
